{% extends "base.html" %} {% block head %}
<title> Medic-Bot </title>
{% endblock head %} {% block hero %}

<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">What is Medic-Bot</h1>
                <h2 data-aos="fade-up" data-aos-delay="400" style="text-align: justify;">
                    <p>The healthcare industry is continuously looking for ways to improve patient experience and outcomes. One way to achieve this is by leveraging artificial intelligence (AI) to provide personalized recommendations and predictions based on patients symptoms and Medical history. In this project, we propose the development of a hospital recommendation and disease prediction chatbot. The chatbot will be able to recognize symptoms and provide personalized recommendations for hospitals based on Medical needs. </p>
                </h2>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="{{ url_for('static',filename='custom/hero-main.png') }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

{% endblock hero %} {% block main %}
<!-- ======= Team Section ======= -->
<section id="team" class="team">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Team</h2>
            <p>Our hard working team</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="{{ url_for('static',filename='img/team/team-1.jpg') }}" class="img-fluid" alt="">   
                    </div>
                    <div class="member-info">
                        <h4>S Mohammed Enthihaj</h4>
                        <span>20201CEI0001</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        <img src="{{ url_for('static',filename='img/team/team-2.jpg') }}" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Krishnan</h4>
                        <span>20201CEI0077</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="{{ url_for('static',filename='img/team/team-3.jpg') }}" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Rihan Anwar</h4>
                        <span>20201CEI0030</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="{{ url_for('static',filename='img/team/team-4.jpg') }}" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Ambrish kumar</h4>
                        <span>20201CEI0001</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<!-- End Team Section -->

{% endblock main %}